<!DOCTYPE html>
<html>
  <head>
    <title>Blogs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="blogs">
    <%= render 'layouts/header' %>
    <div class="container mt-4">
      <div class="row" id="flashes">
        <%= render 'layouts/flash' %>
      </div>
      <%= yield %>
      <div id="turbo-frames">
      </div>
    </div>
  </body>
</html>
